.imges {
    border-radius: 30px;
    margin-top: 7px;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}
.imgColLeft {
    margin-top: -74px;
    height: auto;
    width: 482px;
}
.aboutMeDecription {
    font-size: 18px;
    padding-top: 20px;
    color: #555555;
}
.buttonRow {
    padding-top: 52px;
    gap: 30px;
}
.darkModeBtnMain {
    box-shadow: 5px 5px #fff !important;
}
.darkModeBtnMain:hover {
    box-shadow: initial !important; 
    border: initial !important;
}

.btns {
    background-color: #2fbf71;
    width: 132px;
    height: 41px;
    cursor: pointer;
    box-shadow: 5px 5px #000;
    line-height: 39px;
    transition: .3s all ease-in;
    color: #fff;
    text-decoration: none;
}
.darkMode {
    color: #fff ;
}
.darkModeBtn {
    transition: .2s all ease-in-out;
}
.darkModeBtn:hover {
    background-color: #fff;
}
.btns:hover {
    background-color: transparent;
    border: 1px solid #000;
    box-shadow: initial;
    color: #000;
}
.btns:hover a {
    color: #000;
}
.links {
    color: #fff;
    width: 100%;
    transition: .3s all ease-in-out;
    height: 100%;
}
.titleRow {
    max-width: 747px;
}
@media(max-width: 992px){
    .titleRow {
        max-width: initial;
    }
    .titleRow {
        padding-top: 15px;
    }
    .titleRow h2 {
        padding-bottom: 8px;
        padding-top: 50px;
    }
    .imgColLeft {
        margin-top: 20px;
    }
}