.RightBox {
    background-color: #f7f7ff;
    padding: 48px 34px 50px 34px;
}

.Email {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.linkBut {
    color: #fff;
    text-decoration: none;
    max-width: 206px;
    height: 37px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: .3s all ease-in;
}

.linkBut:hover {
    background-color: transparent;
    border: 1px solid #000;
    box-shadow: initial;
}

.textarea {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
.darkMode {
    background-color: #0b0b13 !important;
    color: #fff !important;
}
.InputDarkMode {
    background-color: transparent;
    color: #fff;
}
.formsMain {
    flex-direction: column;
    background-color: #f7f7ff;
    padding-top: 51px;
    height: auto;
    border-radius: 11px;
}
.forms {
    height: auto;
    flex-direction: column;
    padding: 39px 36px 25px 36px;
}
@media(max-width: 767px) {
    .Email {
        font-size: 17px;
    }
}