.sideBarOuter {
    background: #f7f7ff;
    top: 0;
    animation: animationtoggle .3s both;
    left: 0;
    padding: 61px  0 10px 0;
    bottom: 0;
    z-index: 999;
}
.sideBarBgChanger {
    background: #0c0c14 !important;
}
.darkMode {
    background-color: #10101a;
}
.container {
    padding: 0 30px;
}
.helloSectionOuter {
    padding: 61px 0 19px 0;
}
.aboutme {
    padding: 150px 0 100px 0;
}
.separation {
    margin: 93px 0 61px 0;
    position: relative;
}
.separation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 84%;
    bottom: 0;
    margin: auto;
    height: 1px;
    opacity: 0.1;
    background: #0b0b13;
}
.responsiveLogo {
    color: #000;
    font-size: 20px;
}
.responsiveNav {
    display: block;
    background: #f7f7ff;
    top: 0;
    left: 0;
    animation: aimationtogglesecond .3s both;
    padding: 63px 0 10px 0;
    bottom: 0;
    z-index: 999;
}
.navigationButton {
    border: transparent;
    z-index: 999999;
}
.mainApp {
    height: 100vh;
    background-color: #2fbf71;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modeChangerLight {
    right: 79px;
    top: 7px;
    z-index: 99;
    font-size: 30px;
    border: 1px solid #000;
    padding: 7px;
    width: 41px;
    background-color: #fff;
    height: 42px;
    border-radius: 43px;
}
.modeChangerDark {
    right: 79px;
    top: 7px;
    font-size: 30px;
    border: 1px solid #fff;
    padding: 7px;
    width: 41px;
    height: 42px;
    border-radius: 43px;
    color: #fff;
    background-color: #000;
}
.bgLight {
    z-index: 999;
}
@media (min-width: 1800px){
    .container {
        max-width: 1600px;
    }
}
@media ( max-width:1200px ) {
    .responsiveNav {
        display: none;
    }
    .separation:after {
        width: 100% !important;
    }
    .bgLight {
        background-color: rgba(238, 239, 216, 0.3);
    }
    .bgLight a {
        color: #fff;
    }
    .navigationButton:focus .navToggle2{
        width: 21px;
    } .modeChangerDark, .modeChangerLight{   
    top: 11px;
    padding: 7px;
    right: 61px;
    width: 25px;
    z-index: 9999;
    height: 26px;
    }
    .mainRowHead {
        justify-content: center;
    }
    .navigationButton {
        background-color: #2fbf71;
        height: 32px;
        z-index: 99;
        width: 38px;
    }
    .navigationButton span {
        background-color: #fff;
        height: 2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 25px;
        top: 6px;
        position: absolute;
        transition: .2s all ease-in-out;
    }
    .container {
        padding: 0 40px;
    }
    .navToggle2 {
        top: 14px !important;
        transition: .2s all ease-in-out;
    }   
    .clicked { 
        width: 13px !important;
        right: -8px !important;
    }
    .navToggle3 {
        top: 21px !important;
        transition: .2s all ease-in-out;
    }
    .headerResponsive {
        display: block;
        top: 0;
        padding: 17px 15px;
    }
    .bgColor .responsiveLogo {
        color: #fff;
    }
    .aboutme {
        padding-bottom: initial;
    }
    .bgColor {
        background-color: rgba(0, 0, 0, 0.8) !important;
        z-index: 99;
    }
}


@media(max-width:992px){
    .mainRowHead {
        justify-content: initial;
    }
    .aboutme {
        padding-top: 35px;
    }
}
@media(max-width:767px){
    .aboutme {
        padding-top: 67px;   
    }
}
@media(max-height:700px){
    .sideBarOuter,.responsiveNav {
        padding: 10px 0 10px 0;
    }
}
@keyframes animationtoggle {
    from {left: -30px;}
    to {right: 0;}
}
@keyframes aimationtogglesecond {
    from {right: 0;}
    to {left: 0;}
}
