.row {  
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
  column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  column-gap: 1em;  
}
  .item:hover {
    transform: scale(1.2); 
    position: relative;
  }
.item {
 display: inline-block;
 max-width: 400px;
 transition: transform .2s; 
 margin: 7px auto;
 z-index: 9;
 width:  100%; 
}
.well {
 position:relative;
 display: block;
}
.closeButton {
  position: relative;
  z-index: 2;
  transition: .3s all ease-in-out;
}

.overLay{
  bottom: 0;
  left: 0;
  transition: .4s all ease-in-out;
  right: 0;
  overflow: hidden;
  z-index: 99;
  height: 0;
  overflow: hidden;
 -moz-animation-delay: 3.5s;
 -webkit-animation-delay: 3.5s;
 -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.closeButton:hover .overLay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.animatedOverlayTxt {
  background-color: #2FBF71;
    width: 177px;
    margin-top: 14px;
    height: 47px;
    display: inline-block;
    line-height: 41px;
    color: #fff;
    border: 1px solid transparent;
    transition: .2s all ease-in-out;;
}
.animatedOverlayTxt:hover {
  background-color: transparent;
  background: #000;
}
.fullscreenImg {
  width: 100% !important;
  height: initial !important;
}
.backgroundNone {
  width: 100%;
  height: auto;
  background-color: #000 !important;
  border: transparent !important;
  border-radius: 3px;
  padding: initial !important;
}
@media (max-width: 1500px) {    
.row {
  column-width: 13em;
}
}
@media(max-width:767px){
.item {
  max-width: 314px;
}
.row {
  column-width: 9em;
}
}