.row {  
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
  column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  column-gap: 1em;  
}

  
  .item:hover {
    transform: scale(1.2); 
    position: relative;
  }
.item {
 display: inline-block;
 max-width: 400px;
 transition: transform .2s; 
 margin: 7px auto;
 z-index: 8;
 width:  100%; 
}
.zoom {
    width: 100%;
}
.well {
 position:relative;
 display: block;
}
@media(max-width:767px){
  .zoom {
    width: 80%;
}
}