.container {
    height: 100%;
}
.bg_img {
    width: 116%;
    height: 310px;
    top: -187px;
    left: -55px;
    background: #2FBF71;
    border-radius: 50%;
  }
.sideBar_logo {
    position: relative;
    z-index: 9;
}
.sideBar_top {
    padding: 0 0 40px 0;
}
.sideBar_logo img {
    border-radius: 50%;
    border: 6px solid #ffffff;

}
.sideBarTopTitle {
    font-size: 14px;
    color: #4c4c54;
    letter-spacing: 4px;
    z-index: 9;
}
.Links {
  color: #525259;
  text-decoration: none;
  line-height: 35px;
  width: 306px;

}
.navigationList {
    transition: .1s all ease-in-out;
    line-height: 67px;
    font-size: 16px;
    padding-left: 20px;
    border: 1px solid transparent;
}
.navigationList:hover {
    background-color: rgb(63, 59, 59);
    border: 1px solid rgb(135, 133, 133);
}
.navigationList:hover a{
    color: #fff;
}
.Links::after {
    content: "";
    width: 100%;
    background-color: #efeff8;
    bottom: -1px;
    left: 0;
    position: absolute;
    height: 1px;
}
.iconsSetting {
    font-size: 14px;
}
.iconsSetting:hover {
    color: #000;
}
.socialMediaRow {
    padding-top: 44px;
}
.socialMediaRow ul {
    gap: 20px;
}
@media screen and (max-height: 735px) {
    .container {
        justify-content: initial !important;
    }
    .socialMediaRow {
        padding-top: 15px !important;
    }
    .sideBar_top {
        padding: 0 0 20px 0;
    }
}
    